:root {
    --color-light: #fff;
    --color-text: #ccc;
    --color-background: #000;
    --color-main: #0085ff;
    --color-border: #222;

    --border-radius: 6px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

[x-cloak] {
    display: none;
}

body {
    overflow: hidden;
    background: var(--color-background);
    color: var(--color-text);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

}

.tiefling {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.sbs .tiefling {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sbs .tiefling .inner {
    aspect-ratio: 16 / 9;
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    min-width: min(100vw, calc(100vh * 16/9));
    min-height: min(100vh, calc(100vw * 9/16));
    grid-template-columns: 1fr 1fr;
}
.sbs .tiefling .container {
    width: 100%;
    height: 100%;
    aspect-ratio: 8 / 9;
}

.sbs .tiefling .container-2 {
    display: block;
}

.controls {
    position: fixed;
    top: 0;
    right: 0;

    .top {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        width: 300px;

        .states {
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
            padding-top: 18px;
        }

        .toggle-menu {
            display: inline-block;
            cursor: pointer;
            color: var(--color-text);
            padding: 20px;

            & svg {
                display: inline-block;
                width: 20px;
                height: 20px;
            }
        }
    }

}


/* states */
.states {
    .state {
        display: inline-block;

        &.state-loading .svg-wrap {
            display: inline-block;
            transform: translateY(2px);

            & svg {
                display: inline-block;
                color: var(--color-text);
                width: 20px;
                height: 20px;
                vertical-align: bottom;
                animation: rotate 3s linear infinite;
            }
        }
    }
}


/* File Upload */

.menu {
    position: absolute;
    top: 50px;
    right: 20px;
    background: rgba(20,20,20,0.8);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-border);
    border-radius: 10px;
    width: calc(100vw - 40px);
    max-width: 300px;

    & label {
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 5px var(--border-radius);

        & a {
            display: inline-block;
            color: var(--color-main);
            float: right;
        }
    }

    .info {
        font-size: 10px;
        margin: 5px 0 5px var(--border-radius);
    }

    & input {
        display: block;
        width: 100%;
        height: 40px;
        padding: 10px;
        background: var(--color-background);
        color: var(--color-text);
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);

        &:focus {
            outline: none;
            border-color: var(--color-main);
        }

        &.dragging {
            border-color: var(--color-main);
            background: var(--color-main);
            color: var(--color-border);

            &::placeholder {
                color: var(--color-border);
            }
        }


        &[type="range"] {
            height: auto;
            padding: 0;
        }
    }

    .menu-group {
        border-bottom: 1px solid var(--color-border);
        padding: 15px 15px 15px 15px;
    }

}

.file-upload {
    position: relative;
    margin-bottom: 20px;

    & input[type="url"] {
        padding: 10px 40px 10px 10px;
    }

    button.upload {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        background: none;

        display: grid;
        justify-content: center;
        align-items: center;
        position: absolute;

        top: 0;
        right: 0;
        width: 40px;
        height: 40px;

        padding: 0;
        cursor: pointer;

        & svg {
            display: block;
            width: 16px;
            height: 16px;
            color: var(--color-text);
        }

        &:hover svg {
            color: var(--color-main);
        }
    }

}

.input-range-number {
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-gap: 10px;

    .col-range {
        padding-top: 9px;
    }

    & input[type="range"] {
        width: 100%;
    }
    & input[type="number"] {
        width: 100%;
        padding-right: 5px;
    }

    .range-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 10px;
        margin: 5px 0 5px 5px;

        .col.col-right {
            text-align: right;
        }

    }
}

.button-main {
    display: block;
    width: 100%;
    color: var(--color-light);
    background: var(--color-main);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
}
